{% extends "base/dashboardAlmacen.html" %}

{% block title %} Asignacion Nueva {% endblock title %}


{% block main %}
<h1 class="page-title">Detalle de <span class="fw-semi-bold">Datos Proveedor</span></h1>
<div class="col-md-6">
    <section class="widget">
        <header>

            <div class="widget-controls">
                <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                <a href="#"><i class="fa fa-refresh"></i></a>
                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </header>
        <div class="widget-body">
            <h4><span class="fw-semi-bold text-info">Ruc: </span> {{provider.ruc}}</h4>
            <h4><span class="fw-semi-bold text-info">Nombre: </span> {{provider.name}}</h4>
            <h4><span class="fw-semi-bold text-info">E-mail: </span> {{provider.email}}</h4>
            <h4><span class="fw-semi-bold text-info">Telefonos: </span> {{provider.phone}}</h4>
            <br>
            <a href="#" class="btn btn-success"><i class="fa fa-print"></i></a>
            <a href="{% url 'entidad_app:provider-list' %}" class="btn btn-inverse"><i class="fa fa-home"></i></a>
        </div>
    </section>
</div>
{% endblock main %}
