{% extends "base/dashboardAlmacen.html" %}

{% block title %} Pauta Multiple {% endblock title %}


{% block main %}
<div ng-app="MagazineApp" ng-controller="PautaDinamicaCtrl as vm" ng-init="vm.cargar_tabla()">
<h2 class="col-sm-offset-2 page-title">Pauta Multiple</h2>
<h3> <toast></toast></h3>
<div class="col-md-12">
  <section class="widget">
    <div class="col-md-12">
        <section class="widget">
            <!-- .widget>header is generally a place for widget title and widget controls. see .widget in _base.scss -->
            <header>
                <h5>
                    Diario: <strong>{{object.magazine_day.magazine}}</strong>
                </h5>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <div class="stats-row">
                    <div class="stat-item">
                        <h6 class="name">Cantidad Actual:</h6>
                        <p class="value">{{object.count}}</p>
                    </div>
                    <div class="stat-item">
                        <h6 class="name">Entregando</h6>
                        <p class="value">{$ vm.por_entregar $}</p>
                    </div>
                    <div class="stat-item">
                        <h5 class="name" ng-class="{danger: vm.is_error, warnig: vm.is_warning, success:vm.is_good}">Resto</h5>
                        <p class="value" ng-class="{danger: vm.is_error, warnig: vm.is_warning, success:vm.is_good}">{$ vm.resto $}</p>
                    </div>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-success" ng-class="{bardanger: vm.is_error, barwarning: vm.is_warning, barsuccess:vm.is_good}" role="progressbar" aria-valuenow="{$ vm.por_entregar $}"
                         aria-valuemin="0" aria-valuemax="{{object.count}}" style="width: {$ vm.progres $};">
                    </div>
                </div>
                <p>
                    <small><span class="circle bg-warning"><i class="glyphicon glyphicon-chevron-up"></i></span></small>
                    <span class="fw-semi-bold">Queda {$ vm.resto $} Diarios</span>
                    desea entregar {$ vm.por_entregar $}</p>
            </div>
        </section>
    </div>

    <button class="btn btn-sm btn-danger" ng-click="">Generar</button>

        <toast></toast>

  </section>

  <section class="widget">
       <div id="grid1" ui-grid="vm.gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-exporter class="grid"></div>
  </section>
    <section class="widget">
      <div class="col-md-12">
              <div class="widget-body">
                  <div class="stats-row">
                      <div class="stat-item">
                          <h6 class="name">Cantidad Actual:</h6>
                          <p class="value">{{object.count}}</p>
                      </div>
                      <div class="stat-item">
                          <h6 class="name">Entregando</h6>
                          <p class="value">{$ vm.por_entregar $}</p>
                      </div>
                      <div class="stat-item">
                          <h5 class="name" ng-class="{danger: vm.is_error, warnig: vm.is_warning, success:vm.is_good}">Resto</h5>
                          <p class="value" ng-class="{danger: vm.is_error, warnig: vm.is_warning, success:vm.is_good}">{$ vm.resto $}</p>
                      </div>
                  </div>
              </div>
      </div>
      <button class="btn btn-sm btn-warning" ng-click="vm.exportData()">Exportar</button>
    </section>

</div>
</div>
{% endblock main %}
