{% extends "base/dashboardAlmacen.html" %}

{% block title %} Pauta Multiple {% endblock title %}


{% block main %}
<div ng-app="MagazineApp" ng-controller="PautaDinamicaCtrl as vm" ng-init="vm.cargar_tabla()">

<h3> <toast></toast></h3>
<div class="col-md-12">
  <section class="widget">
        <h3 class="text-primary text-center"><strong>Pauta Multiple Diarios y Productos</strong></h3>
  </section>

  <section class="widget">
       <div id="grid1" ui-grid="vm.gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-exporter class="grid"></div>
  </section>
    <section class="widget">
      <button class="btn btn-sm btn-danger" ng-click="vm.generar_pauta_multiple()">Generar</button>
      <button class="btn btn-sm btn-warning" ng-click="vm.exportar()">PDF</button>
      <button class="btn btn-sm btn-success" ng-click="vm.exportarExcel()">Excel</button>
    </section>

</div>
</div>
{% endblock main %}
