{% load  staticfiles %}
<!-- seccion de archivos Angularjs-->
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'AngularApp/app.js' %}"></script>
<script src="{% static 'AngularApp/app/guia/guideCtrl.js' %}"></script>
<script src="{% static 'AngularApp/common/common.services.js' %}"></script>
<script src="{% static 'AngularApp/common/services/guide/guideServis.js' %}"></script>

<!-- Fin seccion de archivos Angularjs-->

  <form name="GuideForm" >
    Numero de Guia:<input type="text" ng-model="model.number" name="number" required >
    <br>
    Numero Interno:<input type="text" ng-model="model.invoce" name="invoce">
    <br>
    Proveedor:<input type="text" ng-model="model.provider" name="provider">
    <br>
  </form>

<div ng-app="MagazineApp">

  <div ng-controller="GuideCtrl as vm">
    <fieldset data-ng-repeat="choice in vm.choices">
        <select>
          <option ng-repeat="d in vm.diarios" value="{$d.name$}">{$ d.name $}</option>
        </select>
        <br>
        Cantidad:<input type="text" ng-model="model.count" name="count">
        <button name="remove" ng-show="$last" ng-click="vm.removeChoice()">--</button>
    </fieldset>
    <button class="addfields" ng-click="vm.addNewChoice()">Add fields</button>
        <div id="choicesDisplay">
            {$ choices $}
        </div>
  </div>
</div>
