<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
    {% block paceloader %}{% endblock paceloader %}
</head>
<body>
    {% block content %}{% endblock content %}

    {% block js %}{% endblock js %}

</body>
</html>
